@{
    ViewBag.Title = "CreateUser Role";
}

<h2>Create Role</h2>
@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
}